.header-web,
h2,
button {
  display: none;
}

@media screen and (min-width: 768px) {
  button {
    display: inline;
    padding: 8px 14px;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 32px;
    color: rgb(91, 91, 91);
  }
  button:hover {
    background-color: rgb(148, 117, 122);
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  body {
    background-color: rgb(255, 228, 232);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  h4 {
    font-size: 48px;
  }
  .header-phone {
    display: none;
  }
  .header-web,
  p,
  h2 {
    display: block;
  }

  h1 {
    color: rgb(190, 52, 52);
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  h2 {
    position: absolute;
    bottom: 0;
    color: rgb(255, 228, 232);
  }

  .no-highlight {
    user-select: none;
    -moz-user-select: none;
  }
}
